@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

.App {
  text-align: center;
  background-color: #F2DFCE;
  /* background-color: #e9e3df; */
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.intro {
  font-family: 'Roboto Mono', monospace;
  color: #D9526B;
  font-weight: 100;
}

.typed-text{
  font-weight: 400;
}

.subheader {
  font-weight: 300;
}

.icons-section {
  margin-top: 50px;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
  color: #020659;
  text-decoration: none;
}

.icon:hover {
  color: #D9526B;
}
