@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.App {
  text-align: center;
  background-color: #F2DFCE;
  /* background-color: #e9e3df; */
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.intro {
  font-family: 'Roboto Mono', monospace;
  color: #D9526B;
}

.App-link {
  color: #61dafb;
}

